    asgiref~=3.0 # Django'nun bir bağımlılığı
    Django~=5.0 # Kullandığınız Django sürümüne yakın (örn: 5.0.4)
    gunicorn~=22.0
    pandas~=2.2
    openpyxl~=3.1
    # numpy pandas tarafından otomatik olarak yüklenecektir.
    # python-dateutil pandas tarafından otomatik olarak yüklenecektir.
    pytz # Django ve pandas'ın bir bağımlılığı
    # six çeşitli kütüphanelerin bir bağımlılığı, genellikle otomatik yüklenir.
    sqlparse~=0.5 # Django'nun bir bağımlılığı
    # tzdata pandas veya Django'nun bir bağımlılığı, genellikle otomatik yüklenir.
    dj-database-url~=2.1
    psycopg2-binary~=2.9 # PostgreSQL için
    whitenoise~=6.7
    
