    {% extends "admin/change_list.html" %} {# Django admin'in standart liste sayfasını genişletir #}
    {% load i18n %}

    {% block object-tools-items %}
        {{ block.super }} {# Var olan butonları (örn: "Sınav sonucu ekle") koru #}
        <li>
            {# Özel veri yükleme URL'imize link oluşturuyoruz ('name' parametresi ile) #}
            {% url 'admin:sonuclar_sonuc_veri_yukle' as upload_url %}
            <a href="{{ upload_url }}" class="addlink">
                {% translate 'Toplu Veri Yükle' %}
            </a>
        </li>
    {% endblock %}
    