{% extends "admin/base_site.html" %} {# Django admin'in temel şablonunu kullanır #}
{% load i18n static %} {# Gerekli template tag'lerini yükler #}

{% block extrastyle %}{{ block.super }}
    {# Admin formları için standart CSS'i yükler #}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
    {# Sayfanın üst kısmındaki "breadcrumb" navigasyonunu oluşturur #}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo; 
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst }}</a> &rsaquo; 
        {# DÜZELTİLMİŞ SATIR: 'admin:' ad alanı eklendi #}
        <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo; 
        {{ title }}
    </div>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1> {# Sayfa başlığını gösterir (view'dan gelen) #}
    <div id="content-main">
        {# Dosya yükleme için form, method="post" ve enctype="multipart/form-data" olmalı #}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {# CSRF koruması için zorunlu #}
            <div>
                {% if form.errors or form.non_field_errors %}
                    <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ form.non_field_errors }} {# Form geneli hataları gösterir #}
                {% endif %}

                <fieldset class="module aligned">
                    {# Formdaki her bir alanı döngü ile gösterir #}
                    {% for field in form %}
                        <div class="form-row field-{{ field.name }}">
                            {{ field.errors }} {# Alana ait hataları gösterir #}
                            <div class="flex-container">
                                {{ field.label_tag }} {# Alan etiketini gösterir #}
                                {{ field }} {# Alanın kendisini (input, select vb.) gösterir #}
                            </div>
                            {% if field.help_text %}
                                <div class="help">{{ field.help_text|safe }}</div> {# Alan yardım metnini gösterir #}
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>

                <div class="submit-row">
                    {# "Yükle" butonu #}
                    <input type="submit" value="{% translate 'Yükle' %}" class="default">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
